:root {
  --primary: #29B8CC;
  --secondary: rgb(32, 146, 162);
  --alternative: #E6007E;
  --dark: #1E1E1E;
  --darker: #0e0d0d;
  --lighter: #3d3f40;
  --bright: #ccc;
  --darker-text: #5C5A5A;
}

body,
.strip {
  background-color: var(--dark);
  color: var(--darker-text);
}

.header {
  background-color: var(--darker);
  border-color: var(--lighter);
}

.strip-grey {
  background-color: var(--darker);
}

.page-home .call-wrapper {
  background-color: var(--darker);
  padding-top: 3em;
}

.call {
  background-color: var(--darker);
  color: var(--bright);
  box-shadow: var(--secondary) 0 0 6px 2px;
}

.feature {
  background-color: var(--dark);
  color: var(--primary);
  border-color: var(--secondary);
  box-shadow: var(--secondary) 0 0 6px 2px;
}

.intro h1,
.title {
  color: var(--bright);
}

.team-summary-large {
  background-color: var(--darker);
  color: var(--bright);
}

.team {
  color: var(--bright);
}

.team-summary .team-meta p {
  color: var(--secondary);
}

.content table thead th,
.content table th,
.content table td {
  border-color: var(--lighter);
  color: var(--darker-text);
}

.intro h1 {
  width: 100%;
}

h1,
.content h2 {
  color: #fff;
}

.content p {
  color: #E6E6E6;
}

.page-home .content {
  color: var(--darker-text);
}

.content iframe {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.myGrid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.myGrid > div {
  height: 120px;
  margin: 0 1rem 1rem 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.myGrid .group {
  font-size: 0.8em;
  background: transparent;
  color: var(--lighter);
}

.myGrid img {
  max-width: 200px;
  max-height: 100px;
}

.myGrid-Organizatorzy img {
  max-width: 250px;
}


.myGrid a {
  color: black;
}

.partner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  font-weight: 900;
  color: #000;
  text-align: center;
}

.header-wrapper {
  background-color: var(--darker);
}

.partners .header {
  font-size: 200%;
  font-weight: 900;
  color: var(--alternative);
  width: 100%;
  text-align: center;
  color: #fff;
}

.strip-partners {
  background-color: #fff;
}

.feature-image img {
  /* Thanks to https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(80%) sepia(14%) saturate(4650%) hue-rotate(146deg) brightness(85%) contrast(87%);
}

.gallery-wrapper {
  height: 100%;
  width: 100%;
}

/* Countdown */
#countdown {  
  color: var(--primary);
}

#countdown li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

#countdown li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}
/* Countdown end */
