.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper {
    flex: 1 0 0;
  }
  &-pagination {
    margin-top: 40px;

    .pagination {
      justify-content: center;

          display: flex;
          margin: 0;
          padding: 0;
          list-style: none;
          padding-bottom: 50px;
    
          li {
            list-style: none;
            display: inline-block;
    
            &:not(:first-child) {
              padding-left: 50px;
    /*
              @include desktop {
                padding-left: 30px;
              }*/
            }
  
          a {
            font-size: 12px;
            color: $primary;
            transition: all 0.5s ease-in-out;
  
            &:hover {
              opacity: 0.7;
            }
          }
        }

      .page-item {
        &:not(:last-child) {
          margin-right: 10px;
        }

        .page-link {
          font-size: 18px;
          border-radius: 5px;
          border: none;
          padding: 12px 20px;
          color: $primary;
          font-weight: 300;
          transition: all 0.3s ease;
          font-family: $font-family-base;
        }

        &.active {
          .page-link {
            background-color: $primary;
            color: $white;
          }
        }
      }
    }
  }

}
