{{if .Site.Data.partners}}
<div class="strip strip-partners">
  <div class="container-fluid partners">
    {{ range $group := .Site.Data.partners }}
    <div class="row header-wrapper">
      <div class="col">
        <div class="header pt-2 pb-2 justify-content-center">
          {{ $group.title }}:
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="myGrid myGrid-{{ $group }}">
          {{ range $group.items}}
          <div class="partner">
            <a href="{{ .link }}"><img src="{{ .image }}" alt="{{ .name }}" /></a>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    {{end}}
  </div>
</div>
{{end}}
