{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $original := resources.Get (printf "images/%s" $src) }}
{{ warnf "Original image: %s" $original }}

{{ if $original }}
{{ $webp := $original.Resize "1000x webp" }}
{{ $optimized := $original.Resize "x1080" }}
{{ warnf "WebP image: %s" $webp }}
<a href="{{ $optimized.Permalink }}" title="{{ $alt }}">
  <picture>
    <source srcset="{{ $webp.Permalink }}" type="image/webp">
    <img src="{{ $optimized.Permalink }}" alt="{{ $alt }}">
  </picture>
  {{ else }}
  <p>Image not found: {{ $src }}</p>
  {{ end }}
</a>
